<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8" />
    <link rel="icon" href={~p"/favicon.svg"}  />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Fun multi-player buzz games for math, addition, subtraction, multiplication, division, geography, and United State capitals." />
   
    <meta name="csrf-token" content={get_csrf_token()} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/canvas.css"} />
    <script phx-track-static src={~p"/assets/canvas.js"}></script>
  </head>
  <body>
  <noscript>Fun multi-player buzz games for math, addition, subtraction, multiplication, division, geography, and United State capitals. You need to enable JavaScript to run this app.</noscript>    
    <%= @inner_content %>
  </body>
</html>
