html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%;
}

.App {
  text-align: center;
}

.app-logo {
  height: 30vmin;
  pointer-events: none;
}

.small-logo {
  height: 20vmin;
  pointer-events: none;
}

.app-light {
  background-color: #4572cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: rgb(238, 238, 238);
}

.app-header {
  background-color: #4572cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: white;
  cursor: pointer;
}

.app-link:visited {
  color: white;
  cursor: pointer;
}

.light-link a {
  color: white;
  cursor: pointer;
}

.spin {
  animation-duration: 1s;
  animation-name: app-logo-spin;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.time {
  position: absolute;
  bottom: 10px;
  right: 10px;

}
.tiny-title {
  display: block;
  font-size: .5em;
  padding: 0;
}

.text-align-right {
  text-align: right;
}

.answer input[type="submit"].disabled-answer {
  background: #c9c9c9;
}

.small-title {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px;
}

.large-title {
  display: block;
  font-size: 4em;
  font-weight: bold;
  margin: .5vm;
}

form.medium-width {
  padding: 6% 4%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;  
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}


.flex-right {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.align-items-end {
  align-items: flex-end;
}

.text-align-left {
  text-align: left;
}

label {
  color: whitesmoke;
  margin-bottom: 1%;
  text-align: left;
  font-size: .7em;
}

input:focus {
  outline-width: 0px;
}

.header-bolder {
  font-weight: bolder;  
}

input[type="submit"].bordered-input, input[type="text"].bordered-input {
  box-sizing: border-box;
  border: 2px solid rgb(185, 185, 185);
}

input[type="submit"].max-width, input[type="text"].max-width {
  width: 100%;
}

input[type="email"], input[type="password"], input[type="text"], input[type="submit"] {
  background: #fff;  
  border: 0;
  border: 2px solid #464646;
  border-radius: 5px;
  font-size: 95%;
  color: #555;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.bold-select {
  font-weight: bold;
  text-align-last: center;
}

label {
  display: block;
}

.select {
  border: 2px solid #464646;
  background: #fff;
  border: 0;
  border: 2px solid #464646;
  border-radius: 5px;
  font-size: 95%;
  color: #555;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}


input[type="submit"] {
  
  border: 2px solid #464646;
  font-weight: bold;
  cursor: pointer;  
}

.input-seperator {
  margin-top: 4%;
}

input[type="submit"] {
  background-color: white;
}

input[type="submit"]:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  border-color: #474747;
}

input[type="submit"]:hover:not([disabled]) {
  background: #cfcfcf;
}

input[type="submit"]:disabled {
  background: #8a7777a1;
  color: #0000006c;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid red;
}

input:not(:focus):required:invalid {
  border: 2px solid red;
}

.line-hieght-medium {
  line-height: 2;
}

.error-color {
  color: whitesmoke;
}

.input-error {
  border: 2px solid whitesmoke;
}

.input-error-text {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

.small-font {
  font-size: .7em;  
}

.shake {
  animation-duration: 1s;
  animation-name: shake;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.slidein-right {
  animation-duration: 1s;
  animation-name: slidein-right;
}

@keyframes slidein-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slidein-left {
  animation-duration: 1s;
  animation-name: slidein-left;
}

@keyframes slidein-left {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

.slidein-top {
  animation-duration: 1s;
  animation-name: slidein-top;
}

@keyframes slidein-top {
  from {
    margin-top: 100%;
    width: 300%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em
  }
  40% {
    top: 0em
  }
  43% {
    top: -0.9em
  }
  46% {
    top: 0em
  }
  48% {
    top: -0.4em
  }
  50% {
    top: 0em
  }
  100% {
    top: 0em;
  }
}

.flex-container {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display:flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (max-width: 800px) {
  .flex-column {
    flex: 100%;
  }
}

.question {
  font-size: calc(10px + 4vmin);
  padding: 4%;
}

.offset-bottom {
  padding-bottom: 15%;
}

.light-background {
  background: whitesmoke;
}

.empty-space {
  margin-bottom: 5%;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}
input { margin-bottom: 10px; }


.answer {
  width: 40%;
  border-radius: 0%;
  color: rgb(70, 70, 70);
  min-height: 100px;
}

.width-50 {
  width: 50%;
}

.center-65 {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.answer-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.answer input[type="submit"]:hover:not([disabled]) {
  background: #d8d8d8;
}

.answer input[type="submit"] {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  border: 0;
  padding: 0%;
  font-size: 100%;
  color: rgb(70, 70, 70);
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  transition: background .3s;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
}

.answer input {
  margin: 0;
}

.fill-space {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .center-screen {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .center-screen {
    width: 98%;
  }
}

@media only screen and (min-width: 768px) {
  .center-screen {
    width: 50%;
  }
}



.pd-0 {
  padding: 0px;
}

.md-0 {
  margin: 0px;
}

.pd-5 {
  padding: 5px;
}

.pd-25 {
  padding: 25px;
}

.md-5 {
  margin: 5px;
}

.reset-pm {
  padding: 0px;
  margin: 0px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.players-wrapper {
  padding: 10px;
  height: 25vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.ul-numbered {
  list-style-type: decimal;
  list-style-position: inside;
}

.ul-nostyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.typography-darker {
  color: rgb(44, 44, 44);
}

.typography-dark {
  color: rgb(90, 90, 90);
}

.typography-sm-text {
  font-size: 12px;
}

.typography-md-text {
  font-size: 14px;
}

.typography-md-text2 {
  font-size: calc(10px + 2vmin);
}

.typography-sm-text2 {
  font-size: calc(10px + 1.1vmin);
}

.typography-lg-text {
  font-size: 16px;
}

.select-height-tall {
  height: 45px;
}

.typography-emphasize {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.typography-emphasize-dark {
  color: rgb(0, 55, 143);
  font-weight: bolder;
}

.chat-container {
  align-self: flex-end;
  max-height: 100%;
}

input[type="text"].chat-input {
  padding: 2%;
}

.scroll-flex>* {
  overflow-y: scroll;
}

.typography-left-align {
  text-align: left;
}

.players {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

input.correct[type="submit"] {
  background-color: rgb(28, 236, 90);
}

input.correct[type="submit"]:hover:not([disabled]) {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  background-color: rgb(28, 209, 82);
}

input.wrong[type="submit"] {
  background-color: rgb(160, 1, 1);
}

.dark-border {
  border: 1px solid black;
}


.center-with-right-div {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  padding: 0; margin: 0; list-style: none;
}

.center-with-right-div span:nth-child(1) { grid-column-start: 2; }
.center-with-right-div span:nth-child(2) { margin-left: auto; }
