@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    .keyboard_container {
        width: 95%;
    }
}

@media screen and (min-device-width: 600px) {
    .keyboard_container {
        width: 50%;
    }
}

.keyboard_key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.574);
    color: #000000dd;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard_key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard_disabled {
    pointer-events: none;
    opacity: 0.4;
}