.inline-flex {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 8px;
}

.inline-flex input {
    padding: 4px 8px;
    width: 90%;
}

.inline-flex .message {
    font-size: 0.8em;    
    margin-top: 2px;    
}

.story .group {
    margin: 15px 0;
}

.story input ~ label {
    left: 7px;
}

.story .display {
    font-size: 1.5em;
    line-height: 1.9em;
}